@model IEnumerable<Biblioteca.Models.Dtos.VeiculoDto>

@{
    ViewData["Title"] = "List";
}
<div class = "text-center">
<h1>Lista de Veículos</h1>

<p>
    <a class = "btn btn-primary" asp-controller = "Veiculo" asp-action = "Create" role = "button">Cadastrar veículo</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

             <th>
                @Html.DisplayNameFor(model => model.Montadora.Nome)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Montadora.Nome)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Informações", "Details", new { id=item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
            </td>
        </tr>
      
}
    </tbody>
</table>
  </div>